body {
    background-image: url(waterfall.jpg) !important;
}

a[href="index.html"] {
    display: block;
    /* border: groove 2px #f8f9fa; */
    width: 100px;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: #3c4043;
    font-size: 0.95em;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    
  }
   a[href="index.html"]:hover {
  color: steelblue;
  background-color: #fff;
  /* border-bottom: groove 2px #f8f9fa; */
  transition: 0.2s;
  }
#span {
    font-family: sans-serif;
    color: #4285f4;
    position: relative;
    left: -30px;
}
.buttons {
    display: flex;
}